@model Virtual_Wallet.Models.ViewModels.UserProfileUpdate.UpdateAvatarViewModel

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div class="container">
    <h1 class="text-center mb-4" style="font-family: 'Lilita One' , cursive;"> Update Profile Picture</h1>

    <div class="d-flex justify-content-center mb-4">
        <div class="profile-picture">
            <img src="@Url.Content("~/" + Model.CurrentImage)" class="rounded-circle" alt="Current Avatar" style="width: 150px; height: 150px; object-fit: cover;">
        </div>
    </div>

    <form method="post" enctype="multipart/form-data" asp-action="UpdateProfilePicture">
        <div class="form-group">
            <label for="NewProfilePicture">New Profile Picture</label>
            <div class="input-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="NewProfilePicture" name="NewProfilePicture">
                    <label class="custom-file-label" for="NewProfilePicture">Choose file</label>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="button-43" role="button">Update</button>
        </div>
    </form>
    <div class="form-group d-flex flex-column align-items-center mt-4">
        <a href="@Url.Action("Profile", "Users")" class="button-36" role="button">Back to Profile</a>
    </div>
</div>