@model Virtual_Wallet.Models.ViewModels.UpdatePasswordViewModel

<h2 class="w3-center">Change your Password</h2>

<hr />

<form method="post">
    <div class="form-group d-flex flex-column align-items-center">
        <label for="CurrentPassword">Current Password</label>
        <input id="CurrentPassword" class="w3-text-grey mb-2" type="password" asp-for="CurrentPassword" />
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>
    <div class="form-group d-flex flex-column align-items-center">
        <label for="NewPassword">New Password</label>
        <input id="NewPassword" class="w3-text-grey mb-2" type="password" asp-for="NewPassword" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group d-flex flex-column align-items-center">
        <label for="ConfirmPassword">Confirm Password</label>
        <input id="ConfirmPassword" class="w3-text-grey mb-2" type="password" asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group d-flex flex-column align-items-center mt-4">
        <button type="submit" class="btn btn-primary mb-2">Update</button>
    </div>
</form>
<div class="form-group d-flex flex-column align-items-center mt-4">
    <a href="@Url.Action("Profile", "Users")" class="btn btn-secondary">Back to Profile</a>
</div>
