@model Virtual_Wallet.Models.ViewModels.UpdatePhoneViewModel

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">

<h2 class="w3-center" style="font-family: 'Lilita One' , cursive;">Change your Phone number</h2>

<hr />

<div class="form-group d-flex flex-column align-items-center">
    <label for="CurrentPhoneNumber">Current Phone number</label>
    <input id="CurrentPhoneNumber" class="w3-text-grey mb-2" value="@Model.CurrentPhoneNumber" readonly />
</div>

<form method="post">
    <div class="form-group d-flex flex-column align-items-center">
        <label for="NewPhoneNumber">New Phone number</label>
        <input id="NewPhoneNumber" class="w3-text-grey mb-2" asp-for="NewPhoneNumber" />
        <span asp-validation-for="NewPhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group d-flex flex-column align-items-center mt-4">
        <button type="submit" class="button-43" role="button">Update</button>
    </div>
</form>
<div class="form-group d-flex flex-column align-items-center mt-4">
    <a href="@Url.Action("Profile", "Users")" class="button-36" role="button">Back to Profile</a>
</div>