<style>
	header {
		background-color: #194759;
		color: white;
		text-align: center;
		padding: 1rem;
	}


	.section {
		padding: 2rem 0;
	}

		.section h2 {
			font-size: 2rem;
			margin-bottom: 1rem;
		}

	.project {
		display: flex;
		margin-bottom: 2rem;
	}

		.project img {
			width: 200px;
			height: 150px;
			margin-right: 2rem;
			border-radius: 4px;
		}

	.project-description {
		flex: 1;
	}

	.project-title {
		font-size: 1.5rem;
		margin-bottom: 0.5rem;
	}

	.project-tools {
		margin-bottom: 1rem;
	}

	.project-link {
		color: #007bff;
		text-decoration: none;
		transition: color 0.3s;
	}

		.project-link:hover {
			color: #0056b3;
		}
</style>

<header class="w3-round">
	<h1>TEAM 12</h1>
	<p>or MilkoKostadinMila aka MKM Team * Alpha C# 47 * Telerik Academy</p>
</header>

<div class="container">
	<section class="section">
		<h2>About Us</h2>
		<p>
			The team was assembled April 2023 for the first project asignment of Alpha C# Track.
		</p>
		<p>
			We have undertaken a journey of studying, learning, and ultimately achieving success in completing all three projects of the track.
		</p>
		<p>
			You can find links to our LinkedIn profiles in the footer of this project if you wish to get in touch with any of us.
		</p>
	</section>
	<hr>
	<section class="section">
		<h2>Projects</h2>
		<div class="project">
			<img src="~/images/common/web_wallet.png" alt="Project Web Wallet" />
			<div class="project-description">
				<h3 class="project-title">
					Virtual Wallet
				</h3>
				<p class="project-tools">C#, ASP.NET Core, MVC, MS SQL,HTML, CSS, JavaScript</p>
				<p>
					This web application designed to empower users in managing their finances efficiently. This
					application offers essential functionalities, including the ability to send and receive money
					between users and facilitate deposits from a bank to the app's wallet.
				</p>
				<a class="project-link" href="https://gitlab.com/team-147643914/virtual-wallet" target="_blank">View Project</a>
			</div>
		</div>

		<div class="project">
			<img src="~/images/common/webforum.png" alt="Project Web Forum" />
			<div class="project-description">
				<h3 class="project-title">
					Web Forum
				</h3>
				<p class="project-tools">C#, ASP.NET Core, MVC, MS SQL,HTML, CSS, JavaScript</p>
				<p>
					A web-based Forum System featuring a humorous theme to demonstrate the platform's
					versatility. Enabled users to share posts, engage in discussions, and express preferences
					through the Like option, showcasing the adaptability of Forum topics and user interactions.
				</p>
				<a class="project-link" href="#">GitLab link on demand</a>
			</div>
		</div>
		<div class="project">
			<img src="~/images/common/TSM.png" alt="Project Task Management System" />
			<div class="project-description">
				<h3 class="project-title">
					Task Management System
				</h3>
				<p class="project-tools">C#, .NET</p>
				<p>
					Tasks Management console application tailored for small developer teams to efficiently
					organize and manage their work tasks. Streamlined task tracking, assignment, and progress
					monitoring to enhance productivity and collaboration.
				</p>
				<a class="project-link" href="#">GitLab link on demand</a>
			</div>
		</div>
	</section>
	<hr>
	<section class="section">
		<h4>Thank you for your attention.</h4>
	</section>
</div>

