@using Virtual_Wallet.Models.ViewModels;
@using Virtual_Wallet.VirtualWallet.API.Models.Dtos;
@using Virtual_Wallet.VirtualWallet.Domain.Entities;
@model WalletViewModel;

<link rel="stylesheet" href="~/css/tableStyles.css" asp-append-version="true" />

<section>
	<h1>Wallets</h1>
	<div class="tbl-header">
		<table cellpadding="0" cellspacing="0" border="0">
			<thead>
				<tr>
					<th>Owner</th>
					<th class="w3-hide-small">Wallet Ballance</th>
					<th class="w3-hide-small">Currency</th>
					<th>More</th>
				</tr>
			</thead>
		</table>
	</div>
	<div class="tbl-content" style=" width: 100%">
		<table cellpadding="0" cellspacing="0" border="0">
			<tbody>
				@{
					@if (this.Model != null)
					{
						<tr>
							<td>@this.Model.Username</td>
							<td>@this.Model.Ballance</td>
							<td class="w3-hide-small">@this.Model.CurrencyCode</td>
							<td>
								<a asp-controller="Wallets" asp-action="Details" , asp-route-id="@this.Model.Id" class="w3-badge w3-small w3-theme-d2 w3-hover-blue-gray">
									<i class="fa fa-info">&nbsp;Details</i>
								</a>
							</td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div>
</section>
@if (this.Model == null)
{
	<div>
		<a asp-controller="Wallets" asp-action="CreateWallet" class="w3-button w3-theme-d2 w3-margin-bottom w3-round" style="background-color:forestgreen !important;" title="Create Wallet">Create Wallet</a>
	</div>
}

