@model Virtual_Wallet.VirtualWallet.API.Models.Dtos.WalletCreateUpdateDto

<h2 class="w3-center">Update Wallet</h2>

<hr />
<form method="post">
	<div class="form-group d-flex flex-column align-items-center">
		<label for="CurrencyCode">Currency:</label>
		@Html.DropDownListFor(model => model.CurrencyCode,
		new SelectList(Enum.GetValues(typeof(Virtual_Wallet.VirtualWallet.Domain.Enums.Currency))),
		new { @class = "w3-text-black mb-2" })
		<span asp-validation-for="CurrencyCode" class="text-danger"></span>
	</div>
	<div class="form-group d-flex flex-column align-items-center mt-4">
		<button type="submit" class="btn btn-primary mb-2">UpdateWallet</button>
	</div>
</form>
<div class="form-group d-flex flex-column align-items-center mt-4">
	<a href="@Url.Action("Index", "Wallets")" class="btn btn-secondary">Back to My Cards</a>
</div>