@using Virtual_Wallet.VirtualWallet.API.Models.Dtos;
@model CardAddDto;

<div class="w3-row-padding">
	<div class="w3-col m12">
		<div class="w3-card w3-round w3-white">
			<div class="w3-container w3-padding">
				<h3 class="w3-opacity">@this.ViewData["Action"] Card</h3>
				<hr class="w3-clear">
				<form asp-controller="Cards" asp-action="@this.ViewData["Action"]" method="post">
					<div>
						<label asp-for="Name" class="form-label"></label>
						<br />
						<input asp-for="Name" type="text" class="form-input" />
						<br />
						<span asp-validation-for="Name" class="form-error"></span>
					</div>
					<div>
						<label asp-for="Number" class="form-label"></label>
						<br />
						<input asp-for="Number" type="text" class="form-input" />
						<br />
						<span asp-validation-for="Number" class="form-error"></span>
					</div>
					<div>
						<input type="submit" value="@this.ViewData["SubmitButton"]" class="btn btn-primary" />
					</div>

					<div>
						<div>
							<label asp-for="Name" class="w3-opacity"></label><br />
							<span asp-validation-for="Name" class="form-error" style="color: Red"></span>
							<textarea asp-for="Name" class="w3-border w3-padding w3-input w3-auto form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
						</div>
						<div>
							<input type="submit" value="@this.ViewData["ButtonText"]" class="w3-button w3-theme w3-margin-top w3-round" />
						</div>
					</div>

				</form>

			</div>
		</div>
	</div>
</div>


