@using Virtual_Wallet.Models.ViewModels;
@using Virtual_Wallet.VirtualWallet.API.Models.Dtos;
@using Virtual_Wallet.VirtualWallet.Domain.Entities;
@model List<CardViewModel>;

<link rel="stylesheet" href="~/css/tableStyles.css" asp-append-version="true" />

<section>
	<h1>Cards</h1>
	<div class="tbl-header">
		<table cellpadding="0" cellspacing="0" border="0">
			<thead>
				<tr>
					<th>Cardholder</th>
					<th class="w3-hide-small">Card Name</th>
					<th class="w3-hide-small">Card Number</th>
					<th>More</th>
				</tr>
			</thead>
		</table>
	</div>
	<div class="tbl-content" style=" width: 100%">
		<table cellpadding="0" cellspacing="0" border="0">
			<tbody>
				@{
					foreach (var card in this.Model)
					{
						<tr>
							<td>@card.CardHolder</td>
							<td>@card.Name</td>
							<td class="w3-hide-small">@card.CardNumberHidden</td>
							<td>
								<a asp-controller="Cards" asp-action="Details" , asp-route-id="@card.Id" class="w3-badge w3-small w3-theme-d2 w3-hover-blue-gray">
									<i class="fa fa-info">&nbsp;Details</i>
								</a>
							</td>
						</tr>
					}
				}
			</tbody>
	</div>
	</table>
</section>
<div>
	<a asp-controller="Cards" asp-action="AddCard" class="w3-button w3-theme-d2 w3-margin-bottom w3-round" style="background-color:forestgreen !important;" title="Add Card">Add Card</a>
</div>

